.container {
    margin-top: 20px;
}

header {
    text-align: center;
}

ul.crystals li {
    display: inline-block;
    border: 1px solid #222;
}

section.row {
    padding: 20px;
}

.crystals img {
    width: 100px;
}

.crystals {
    display: flex;
    justify-content: space-between;
}

.numsWins div {
    height: 75px;
}

.randomNumber {
    text-align: center;
    font-weight: bold;
    font-size: 38px;
    padding: 10px;
}

.winLoss {
    padding-top: 10px;
}

.winLoss p {
    text-align: center;
    font-weight: bold;
}

p.totalScore {
    text-align: center;
    font-weight: bold;
    padding-top: 5px;
}

section.reset {
    text-align: center;
}

section.reset button {
    width: 50%;
    margin: 20px;
}

section.row.crystals div {
    bordeR: none;
    margin: 10px;
}

@media (max-width:768px) {
    .crystals {
        justify-content: center;
        flex-wrap: wrap;
    }
    .crystals img {
        width: 125px;
    }
}